{% extends 'base.html' %}
{% block content %}
<div class="row col-12 border">
    <div class="col-8 row">
        <h5 class="col-8 text-left p-auto">Nazwa: {{product_add.name}} </h5>
        <h5 class="col-3 text-left p-auto">Rozmiar: {{product_add.size}}</h5>
    </div>
    <div class="col-1">
        <button type="submit" class="btn btn-success mx-auto">1/2</button>
    </div>
    <div class="col-3">
        <h5 class="col-8 text-right mx-auto">{{product_add.price}}zł</h5>
    </div>
</div>

<div class="row col-12 border mt-2 mx-auto">
    {% for el in otherSize %}
    <a class="text-center mx-auto" href="/add_to_order/{{el.id}}">
        <button type="submit" class="w-100 mx-auto btn btn-primary size">Rozmiar{{el.size}}
            <br><span clas="text-center">Cena: {{el.price}}</span>
        </button>
    </a>>
    {% endfor %}
</div>
<div class="row col-12 border mt-2 mx-auto">
    <p class="col-10 text-left">Składniki pizzy:</p>
    <a href="/change_topps/{{product_add.id}}">
        <button type="submit" class=" col-1btn btn-success mx-auto">Zmień składniki</button></a>
    </a>
    {% for el in product_add.pizza_componets.all %} <b>
        <form class="mx-auto" method="POST" action="/delete_from_pizza/">
            {% csrf_token %}
            <input name="orderId" type="hidden" value="{{orderId}}">
            <input name="pizza_id" type="hidden" value="{{product_add.id}}">
            <input name="del_comp" type="hidden" value="{{el.id}}"><button type="submit"
                class="btn btn-warning mw-50">{{el.name}}<br><span>{{el.quantity}} x
                    {{el.price}}</span></button></a>
    </b></form>{% endfor %}

</div>
<div class="row col-12 border mt-2 mx-auto">
    <p class="col-12 text-left">Wybierz sos darmowy:</p>
    {% for el in souse %} <b>
        <form class="mx-auto" method="POST" action="/delete_from_pizza/">
            {% csrf_token %}
            <input name="orderId" type="hidden" value="{{orderId}}">
            <input name="pizza_id" type="hidden" value="{{product_add.id}}">
            <input name="del_comp" type="hidden" value="{{el.id}}"><button type="submit"
                class="btn btn-warning mw-50">{{el.name}}<br><span>{{el.quantity}} x
                    {{el.price}}</span></button></a>
    </b></form>{% endfor %}
</div>
<div class="row col-12 border mt-2 mx-auto">
    <div class="col-4">
        <form class="mx-auto" method="POST" action="/delete_from_pizza/">
            {% csrf_token %}
            <p class="col-12 text-left">Rabat</p>
            <input name="discount" type="number" value="0">
            <button type="submit" class="btn btn-warning mw-50">Ustaw</button>
        </form>
    </div>
    <div class="col-4 mh-100">
        <p class="col-12 text-left">Info</p>
        <input name="discount" type="textarea" max_length="256">
    </div>

    <div class="col-4 mh-100">
        <div class="row col-12">
            <p class="col-12 text-left">Ilość</p>
            <input class="col-4" name="discount" type="number" value="0">
            <button class="col-4 btn btn-success">+</button>
            <button class="col-4 btn btn-danger">-</button>
        </div>

    </div>
    <p class="col-12 text-left"></p>
    <p class="col-12 text-left">Cena produktu<br>{{product_add.price}}</p>
    <form class="mx-auto col-12" method="POST" action="">
        {% csrf_token %}
        <h5 class="col-12 text-left"><b>{{product_add.price}}</b> zł</h5>
        <button type="submit" class="col-4 mx-auto btn btn-success">Dodaj</button>
    </form>
</div>
{% endblock %}



<div class="container mt-2 col-10 mx-auto">

    <p>Wprowadzasz dokument nr: <b>{{umowa.number}} </b>Data zakupu: <b>{{umowa.data_zak}}</b></p>
    <ul class="list-group list-group-flush row col-12">

        <li class="list-group-item">Nazwa productu:
            <b>{{product_add.name}} </b><span class="col-7"></span><button type="button"
                class="btn btn-primary">1/2</button></li>
        <li class="list-group-item">Rozmiar: <b>{{product_add.size}}</b></li>
        <li class="list-group-item">Cena: <b>{{product_add.price}}</b></li>
        <li class="list-group-item">Rabat: <b><input name="cena" type="number" class="form-control "></b>
        <li class="list-group-item">Usuń składniki: <br>
            <div class="row">
                {% for el in product_add.pizza_componets.all %} <b>
                    <form method="POST" action="/delete_from_pizza/">
                        {% csrf_token %}
                        <input name="orderId" type="hidden" value="{{orderId}}">
                        <input name="pizza_id" type="hidden" value="{{product_add.id}}">
                        <input name="del_comp" type="hidden" value="{{el.id}}"><button type="submit"
                            class="btn btn-danger">{{el.name}}<br><span>{{el.quantity}} x
                                {{el.price}}</span></button></a>
                </b></form>{% endfor %}
            </div>
        </li>

        </li>
        <li class="list-group-item">Wege składniki:
            <div class="row">
                {% for el2 in vege_components %}
                <form method="POST" action="/delete_from_pizza/">
                    {% csrf_token %}
                    {{el2.id}}
                    <input name="orderId" type="hidden" value="{{orderId}}">
                    <input name="pizza_id" type="hidden" value="{{product_add.id}}">
                    <input name="add_comp" type="hidden" value="{{el2.id}}"><button type="submit"
                        class="btn btn-success">{{el2.name}}</button></a>
                </form>
                {% endfor %}
            </div>
        </li>
        <li class="list-group-item">Miesne składniki:<br>
            <div class="row">
                {% for el2 in beef_components %} <b>{{el2.name}}</b>
                <form method="POST" action="/delete_from_pizza/">
                    {% csrf_token %}
                    {{el2.id}}
                    <input name="orderId" type="hidden" value="{{orderId}}">
                    <input name="pizza_id" type="hidden" value="{{product_add.id}}">
                    <input name="add_comp" type="hidden" value="{{el2.id}}"><button type="submit"
                        class="btn btn-success">{{el2.name}}</button></a>
                </form>
                {% endfor %}
            </div>
        </li>
        <li class="list-group-item">Cena za składniki: <b>{{product_add.price_pizzamix}} </b></li>
        <li class="list-group-item">Cena pizzy: <b>{{product_add.total_price_pizzamix}} </b></li>
        <li class="list-group-item"><a href="/generuj_pdf/{{umowa.id}}"><button type="button"
                    class="btn btn-warning">Drukuj Umowę
                    PDF</button></a></li>


    </ul>
</div>
<form method="POST" action="/dodaj_zamowienie_wywoz/">
    {% csrf_token %}
    <div class="container mt-2 col-10 mx-auto">
        <div class="row mx-auto">
            <a class="col-4" href="/delete_document/{{umowa.id}}"><button type="button" class="btn btn-danger">Cofnij
                    wprowadzanie</button></a>
            <i class="col-4"></i>
            <input name="orderId" type="hidden" value="{{orderId}}">
            <input name="addList" type="hidden" value="{{product_add.id}}">
            <button type="submit" class="btn btn-success">Zapisz i
                przejdź
                do zamówienia</button></a>
        </div>
    </div>
</form>
</div>