{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row col-12">
        <div class="col-2 orders">
            <p>Dania w pizzerii</p>
            <input id="search" class="col-12 m-1" name="dania" maxlength="10" type="text" class="form-control"
                placeholder="pizza,sosy,napoje" aria-label="Recipient's username" aria-describedby="basic-addon2">

            <button type="submit" class="btn btn-dark m-2">
                Produkty
            </button>
            <ul>
                {% for el in menu %}
                <li class="">
                    <button class="menu {{el.name}}">{{el}}</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-8 text-center ">
            <div class="row">
                {% for size in pizza_size %}
                <div class="{{size}} col-2 orders mx-auto Pizza">
                    <button type="button" class="btn btn-primary size {{size}}">{{size}}</button>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 orders">
                <div class="row products">

                    {% for cat in menu %}
                    {% for el in products %}
                    {% if cat.id == el.menu_category.id %}
                    <form method="POST" action="/add_to_order/">
                        {% csrf_token %}
                        <input name="orderId" type="hidden" value="{{orderId}}">
                        <input name="addList" type="hidden" value="{{el.id}}">
                        <input name="order" type="hidden" value="{{order}}">
                        <!-- <input name="checks" class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                            value="{{el.name}}" aria-label="..."> -->
                        <button type="submit" data-price="{{el.price}}" data-name="{{el.name}}"
                            class="pizzamenu m-1 text-center {{el.size}} {{el.menu_category.name}}">
                            {{el.name}}<br>{{el.size}}
                            <br><span class="price">{{el.price}}</span>zł</button>
                    </form>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-2 orders">
            <p>Baza klientów</p>
            <input id="search" class="col-12 m-1" name="szukaj" maxlength="10" type="text" class="form-control"
                placeholder="numer telefony, nazwisko" aria-label="Recipient's username"
                aria-describedby="basic-addon2">

            <button type="submit" class="btn btn-dark m-2"><span>Wyszukaj</span></button>

            <div class="col-12">
                Zamówienie
                <ul>
                    {% for el in order.product.all %}
                    <li>
                        {{el.quantity}}szt. {{el.name}} = {{el.suma}}

                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12">
                Suma:{{order.total_price}}
            </div>
        </div>
    </div>
</div>
{% endblock %}