{% extends 'base.html' %}

{% block content %}

<div class="row col-12 mt-2">
    <button type="button" class="btn btn-warning .col-lg-12 .col-xl-4 m-2"><a class="dodaj" href="dodaj_klienta">Dodaj
            nowego klienta</a></button>
    <div class="row col-12 mt-2">
        <input id="search" class=".col-lg-6 .col-xl-12 m-2" name="szukaj" maxlength="256" type="text"
            class="form-control" placeholder="telefon, nazwisko" aria-label="Recipient's username"
            aria-describedby="basic-addon2">

        <button type="submit" class="btn btn-dark .col-lg-6 .col-xl-6 m-2"><span>Przeszukaj całą
                bazę</span></button>
    </div>
</div>
<h2>Lista klientów Pizzeria <b>Budryka 2</b></h2>
<div>
    <label>Pokaż inne pizzerie</label>
</div>
<select class="custom-select col-4">Pokaż inne pizzerie
    <option value="0">---</option>
    <option value="1">Makuszyńskiego 8</option>
    <option value="2">Centrum B1</option>
</select>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Zaznacz</th>
            <th scope="col">Numer klienta</th>
            <th scope="col">Dane personalne</th>
            <th scope="col">Telefon</th>
            <th scope="col">Adres</th>

            <th scope="col">Status klienta</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-success lista">
            <th scope="row">1</th>
            <td><a href="">Wybierz</a>
            </td>
            <td>21</td>
            <td>Adam Kowalski</td>
            <td>506029980</td>
            <td>ul. Rakowicka 2/52</td>
            <td>Normalny</td>
            <td></td>
        </tr>
        <tr class="table-warning lista">
            <th scope="row">1</th>
            <td><a href="">Wybierz</a>
            <td>21</td>
            <td>Adam Fleszar</td>
            <td>506050666</td>
            <td>
                <ul>
                    <li><input name="checks" class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                            value="{{el.id}}" aria-label="...">
                        ul. Rakowicka 2/52
                    </li>
                    <li>
                        <input name="checks" class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                            value="{{el.id}}" aria-label="...">
                        ul. Mazowiecka 13/51
                    </li>
                </ul>
            </td>
            <td>Vip</td>
            <td>Ponad 20 zamówień</td>
        </tr>
        <tr class="table-success lista">
            <th scope="row">1</th>
            <td><a href="">Wybierz</a>
            <td>21</td>
            <td>Adam Nowak</td>
            <td>501555222</td>
            <td>ul. Rakowicka 2/52</td>
            <td>Normal</td>
            <td></td>
        </tr>
        <tr class="table-danger lista">
            <th scope="row">1</th>
            <td><a href="">Wybierz</a>
            <td>21</td>
            <td>Adam Bierut</td>
            <td>506080589</td>
            <td>ul. Rakowicka 2/52</td>
            <td>Podejrzany</td>
            <td>Nie wie gdzie mieszka, nie oderbał pizzy</td>
        </tr>

    </tbody>
</table>
{% endblock %}