{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div><label for=""><b>Wyszukiwarka:</b> (uwzględnij wielkość liter) TYLKO 200 WYNIKÓW!</label>
    </div>
    <div class="row col-8 m-2">
        <select name="szukaj" id="search2">
            <option value="{{el.nazwa}}">Wybierz sklep</option>
            {% for el in sklepy %}
            <option value="{{el.nazwa}}">{{el.nazwa}}{{el.adres.miasto}}</option>
            {% endfor %}
        </select>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="row col-12 mt-2">
            <input id="search" class="row .col-lg-6 .col-xl-6 m-2" name="szukaj" maxlength="128" type="text"
                class="form-control" placeholder="numer umowy, kategoria, nazwa, model, imei"
                aria-label="Recipient's username" aria-describedby="basic-addon2">

            <button type="submit" class="btn btn-dark .col-lg-6 .col-xl-6 m-2"><span>Przeszukaj całą
                    bazę</span></button>
        </div>
    </form>

    <div class="row col-12 mt-2">
        <button type="button" class="btn btn-warning .col-lg-12 .col-xl-4 m-2"><a class="dodaj"
                href="{% url 'dodaj_czesc' %}">Dodaj
                nową część</a></button>


        <button type="submit" class="btn btn-warning .col-lg-12 .col-xl-4 m-2"><span>Zaznacz i użyj do
                serwisu</span></button>
    </div>

    <form method="POST" action="/uzyj_czesci/">
        {% csrf_token %}

        <td class="row col-12 mt-2">
            <table class="table table-dark">
                <H1>Lista części</H1>
                <thead>
                    <tr>
                        <th scope="col">L.P.</th>
                        <th scope="col">Użyj części</th>
                        <th scope="col">Typ</th>
                        <th scope="col">Marka</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena zak</th>
                        <th scope="col">Cena sprzed</th>
                        <th scope="col">Stan</th>
                        <th scope="col">Kolor</th>
                        <th scope="col">Sklep</th>
                        <th scope="col">Wprowadził</th>
                        <th scope="col">Ilość</th>
                        <th scope="col">Działania</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Szczegóły</th>
                    </tr>
                </thead>
                <tbody>
                    {% for el in czesc %}

                    <tr class="lista">
                        <th scope="row">{{ forloop.counter0|add:czesc.start_index }}</th>
                        {% if el.ilosc > 0 %}
                        <td><input name="checks" class="form-check-input position-static" type="checkbox"
                                id="blankCheckbox" value="{{el.id}}" aria-label="...">
                        </td>
                        {% else %}
                        <td>Brak
                        </td>
                        {% endif %}
                        <!-- <td>
                        {% for el2 in el.foto.all %}
                        <img class="img-fluid img-thumbnail pracownik"
                            src="{{MEDIA_URL}}/static/media/{{el2.foto}}"><br>
                        {% endfor %}
                    </td> -->
                        <td>{{el.typ}}</td>
                        <td>{{el.marka}}</td>
                        <td>{{el.nazwa}}</td>
                        <td>{{el.cena_zak}}</td>
                        <td>{{el.cena_sprzed}}</td>
                        <td>{{el.get_stan_display}}</td>
                        <td>{{el.get_kolor_display}}</td>
                        <td>{{el.sklep}}</td>
                        <td>{{el.pracownik}}</td>
                        <td>{{el.ilosc}}</td>
                        <td><a href="/dodaj_wiecej_czesci/{{el.id}}">Dodaj</a>
                            {% if el.ilosc > 0 %}
                            <a href="/usun_wiecej_czesci/{{el.id}}">Usuń</a></td>
                        {% else %}
                        {% endif %}
                        <td>{{el.opis}}</td>
                        <td><a href="/szczegoly_czesci/{{el.id}}">Szczegóły</a><br>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
    </form>
</div>
<div class="col-8 input-group mb-3 mx-auto">
    <div class="col-1"></div>
    <nav aria-label="...">
        {% if czesc.has_other_pages %}
        <ul class="pagination text-dark">
            {% if czesc.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ czesc.previous_page_number }}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?page={{ czesc.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in czesc.paginator.page_range %}
            {% if czesc.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if czesc.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?page={{ czesc.next_page_number }}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?page={{ czesc.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
<div class="col-1"></div>

{% endblock %}