{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="main">
    <div class="row col-12 border mx-auto">

        <form class="col-3 mx-auto m-2" action="/add_new_order_local/">
            <button type="submit" class="btn btn-success mx-auto">Nowe zamówienie<br>LOKAL</button>
        </form>
        <form class="col-3 mx-auto m-2" action="/add_new_order_outside/">
            <button type="submit" class="btn btn-success mx-auto">Nowe zamówienie<br>WYWÓZ</button>
        </form>
        <form class="col-3 mx-auto m-2" action="/add_new_order_local/">
            <button type="submit" class="btn btn-success mx-auto">Nowe zamówienie<br>ON-LINE LOKAL</button>
        </form>
        <form class="col-3 mx-auto m-2" action="/add_new_order_local/">
            <button type="submit" class="btn btn-success mx-auto">Nowe zamówienie<br>ON-LINE WYWÓZ</button>
        </form>

    </div>
    <div class="row col-12 border mt-2 mx-auto">
        <h5 class="col-12 text-left">Zamówienia</h5>
        <p class="col-3 mx-auto m-2 text-left">Liczba zamówień: <span id="order_today"><b>25</b></span> </p>
        <p class="col-3 mx-auto m-2 text-left">Zamówień w przygotowaniu: <span id="order_in_progres"><b>4</b></span>
        </p>
        <p class="col-3 mx-auto m-2 text-left">Zamówienia w dostawie: <span id="order_on_way"><b>2</b></span> </p>
    </div>
    <div class="col-12 row">
        <div class="col-5 border mt-2 mx-auto text-left">
            <h5 class="col-12">Kasa</h5>
            <p class="col-3 m-2 text-left">Stan kasy rano: <span id="cash_today"><b>250</b></span> zł </p>
            <p class="col-3 m-2 text-left">Lokal gotówka: <span id="cash_sell_today"><b>560</b></span> zł </p>
            <p class="col-3 m-2 text-left">Lokal terminal: <span id="terminal_sell_today"><b>330</b></span> zł </p>
            <p class="col-3 m-2 text-left">Kierowcy gotówka: <span id="cash_all_driver"><b>445</b></span> zł</p>
            <p class="col-3 m-2 text-left">Kierowcy terminal: <span id="terminal_all_drivers"><b>259</b></span> zł</p>
        </div>
        <div class="col-5 border mt-2 mx-auto text-left row">
            <h5 class="col-4 text-left">Kierowcy</h5>
            <h5 class="col-2 text-center">Kursy</h5>
            <h5 class="col-6 text-center">Kasa</h5>

            <ul class="row col-12 mx-auto">
                <li class="col-4 text-left">Marek:</li>
                <li class="col-2 text-center">15</li>
                <li class="col-6 text-right">Got.: <span>125</span><br><span>Term.: </span>1111</li>
            </ul>
            <ul class="row col-12 mx-auto">
                <li class="col-4 text-left">Marek:</li>
                <li class="col-2 text-center">15</li>
                <li class="col-6 text-right">Got.: <span>125</span><br><span>Term.: </span>1111</li>
            </ul>
            <ul class="row col-12 mx-auto">
                <li class="col-4 text-left">Marek:</li>
                <li class="col-2 text-center">15</li>
                <li class="col-6 text-right">Got.: <span>125</span><br><span>Term.: </span>1111</li>
            </ul>
        </div>


    </div>
    <div class="row col-12 border mt-2 mx-auto">
        <h5 class="col-12 text-left">CZAS REALIZACJI</h5>
        <p class="col-3 mx-auto m-2 text-left">Śerdni czas oczek. Lokal: <span id="order_time_local"><b>25</b></span>min
        </p>
        <p class="col-3 mx-auto m-2 text-left">Śerdni czas oczek. Wywóz: <span id="order_time_local"><b>45</b></span>min
        </p>
    </div>
    <div class="row col-12 border mx-auto">
        <h5 class="col-12 text-left">LISTA ZAMÓWIEŃ</h5>
        <form class="col-3 mx-auto m-2" action="/add_new_order_local/">
            <button type="submit"
                class="btn btn-secondary mx-auto col-12">ZAMÓWIENIA<br>ZREALIZOWANE<br><span>25</span></button>
        </form>
        <form class="col-3 mx-auto m-2" action="/add_new_order_outside/">
            <button type="submit" class="btn btn-warning mx-auto col-12">ZAMÓWIENIA<br>W
                PRZYGOTOWANIU<br><span>4</span></button>
        </form>
        <form class="col-3 mx-auto m-2" action="/add_new_order_local/">
            <button type="submit" class="btn btn-success mx-auto col-12">ZAMÓWIENIA<br>W
                DOSTAWIE<br><span>3</span></button>
        </form>
        <form class="col-3 mx-auto m-2" action="/add_new_order_local/">
            <button type="submit" class="btn btn-danger mx-auto col-12">ZAMÓWIENIA<br>BLISKI CZAS
                REALIZACJI<br><span>1</span></button>
        </form>
    </div>
</section>

<div id="client" class="col-12 row mx-auto bg-light p-1 border">
    <div class="col-12 row">
        <h4 class="text-left col-3 mt-2">Klienci</h4>
        <a class="col-5" href="/add_client/"><button class="col-12 btn btn-success">Dodaj
                klienta</button></a>
        <a href="/" class="col-3 text-right"><button class="text-right btn btn-danger">Powrót</button></a>
    </div>
    <table class="table mx-auto col-12">
        <thead class="mx-auto col-12 mw-100">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Telefon</th>
                <th scope="col">dane</th>
                <th scope="col">Dodaj adres</th>
                <th scope="col">Adres</th>
                <th scope="col">Status</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            {% for el in clients %}
            <tr class="lista">
                <th scope="row">{{el.id}}</th>
                <td>{{el.phone_number}}</td>
                <td>{{el.firstlastname}}</td>
                <td><button>Dodaj adres</button></td>
                <td>
                    <ul>{% for address in el.adrress.all %}
                        <li class="col-1">{{address.street}}, {{address.city}} <button>Wybierz</button></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{el.get_status_display}}</td>
                <td>{{el.info}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}