{% extends 'base.html' %}


{% block content %}


<div class="col-12 mx-auto text-center bg-light p-1 border">
    <div class="row col-12 mt-2 mx-auto text-nowrap">
        <h4 class="text-left col-12 mt-2">Produkty</h4>
        <div class="col-12 text-wrap">
            <div class="row col-12">
                {% for size in otherSize %}
                <div class="{{size}} col-4 row orders mx-auto Pizza">
                    <button type="button" class="mx-auto btn col-4 btn-success size {{size}}">{{size}}</button>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 text-wrap product">
                {% for el in product %}
                <a class="col-12 text-center mx-auto" href="/add_to_order/{{el.id}}">
                    <button type="button" class="col-2 mx-auto btn btn-primary m-1 {{el.menu_category}} {{el.size}}">
                        {{el.name}}<br>
                        <span class="text-center">{{el.price}}zł</span><br>
                        <span class="text-center">Rozmiar: {{el.size}}</span>
                        <span>ID: {{el.id}}</span>
                    </button>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}