{% extends 'base.html' %}

{% block content %}

<div class="row col-12 mt-2">



</div>
<div class="row col-12 mt-2">
    <div class="col-12">
        <h2>Lista pracowników na dzień 2 listopad 2019 Pizzeria <b>Budryka 2</b></h2>
    </div>
    <div class="col-12">
        <label>Pokaż inne pizzerie</label>
    </div>
    <div class="col-12">
        <select class="custom-select col-2">
            <option value="0">---</option>
            <option value="1">Makuszyńskiego 8</option>
            <option value="2">Centrum B1</option>
        </select>
    </div>
    <table class="table lista">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Aktywny</th>
                <th scope="col">Stanowisko</th>
                <th scope="col">Imie i nazwisko</th>
                <th scope="col">Godziny pracy</th>
                <th scope="col">Wyjazdy</th>
                <th scope="col">Gotówka dzisiaj</th>
                <th scope="col">Opis</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table lista">
                <th scope="row">1</th>
                <td><input name="checks" class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                        value="{{el.id}}" aria-label="..." checked>
                </td>
                <td>Pizzer</td>
                <td>Adam Nowak</td>
                <td>10-00 do 21-00</td>
                <td>Nie dotyczy</td>
                <td>Nie dotyczy</td>
                <td></td>
            </tr>
            <tr class="table lista">
                <th scope="row">1</th>
                <td><input name="checks" class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                        value="{{el.id}}" aria-label="..." checked>
                </td>
                <td>Kierowca</td>
                <td>Adam Kowalski</td>
                <td>10-00 do 21-00</td>
                <td>21</td>
                <td>485zł</td>
                <td></td>
            </tr>
            <tr class="table lista">
                <th scope="row">1</th>
                <td><input name="checks" class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                        value="{{el.id}}" aria-label="..." checked>
                </td>
                <td>Kierowca</td>
                <td>Jacek Mazur</td>
                <td>14-00 do 21-00</td>
                <td>9</td>
                <td>225zł</td>
                <td></td>
            </tr>

        </tbody>
    </table>
    {% endblock %}