{% extends 'base2.html' %}

{% block content %}
<div class="row col-12 mx-auto bg-white">
    <form class="col-2 mx-auto m-2" action="/add_new_order_local/">
        <button type="submit"
            class="btn btn-secondary mx-auto col-12">ZAMÓWIENIA<br>ZREALIZOWANE<br><span>25</span></button>
    </form>
    <form class="col-2 mx-auto m-2" action="/add_new_order_outside/">
        <button type="submit" class="btn btn-warning mx-auto col-12">ZAMÓWIENIA<br>W
            PRZYGOTOWANIU<br><span>4</span></button>
    </form>
    <form class="col-2 mx-auto m-2" action="/add_new_order_local/">
        <button type="submit" class="btn btn-success mx-auto col-12">ZAMÓWIENIA<br>W
            DOSTAWIE<br><span>3</span></button>
    </form>
    <form class="col-2 mx-auto m-2" action="/add_new_order_local/">
        <button type="submit" class="btn btn-danger mx-auto col-12">
            <div class="col-12 row text-wrap mx-auto">
                <span class="col-12">
                    ZAMÓWIENIA BLISKI
                    CZAS
                    REALIZACJI</span>
                <span class="col-1 align-self-center mx-auto"><b>1</b></span>
            </div>
        </button>
    </form>
</div>

<div class="table-responsive col-12 text-center mt-3 bg-white">
    <table class="table">
        <thead>
            <tr>

                <th scope="col w-auto">Nr</th>
                <th scope="col w-auto">Godz. Zam.</th>
                <th scope="col w-auto">Godz. Dostawy</th>
                <th scope="col w-auto">Telefon/Adres</th>
                <th scope="col w-auto">Wartość zam.</th>
                <th scope="col w-auto">Płatność</th>
                <th scope="col w-auto">Przyjmujący</th>
                <th scope="col w-auto">Lokal/Wywóz</th>
                <th scope="col w-auto">Kierowca</th>
                <th scope="col w-auto">Wyjazd</th>
                <th scope="col w-auto">Dostawa</th>
            </tr>
        </thead>
        <tbody class="w-100 mx-auto">
            {% for order in orders %}
            {% if order.status == 2 %}
            <tr class="table-warning w-100 mx-auto text-black">
                {% endif %}
                {% if order.status == 1 %}
            <tr class="table-primary w-100 mx-auto text-black">
                {% endif %}
                {% if order.status == 3 %}
            <tr class="table-danger w-100 mx-auto text-black">
                {% endif %}
                {% if order.status == 5 %}
            <tr class="table-success w-100 mx-auto text-black">
                {% endif %}
                {% if order.status == 8 %}
            <tr class="table-secondary w-100 mx-auto text-black">
                {% endif %}
                <td class="col w-auto">{{forloop.revcounter}}</td>
                <td class="col w-auto">{{order.data.time}}</td>
                <td class="col w-auto">19:57 <span class="text-danger">-40min:25sek</span></td>
                <td class="col w-auto">{{order.client.phone_number}}<br>{{order.address.address}}</td>
                <td class="col w-auto">{{order.total_price}}</td>
                <td>{{order.get_paymethod_display}}</td>
                <td class="col w-auto">Michał Nalewajko</td>
                <!-- <td class="col w-auto">{{order.get_status_display}}</td> -->
                <td class="col w-auto">{{order.get_delivery_display}}</td>
                <td class="col w-auto">Marek 2</td>
                <td class="col w-auto">Poźniej</td>
                <td class="col w-auto">Poźniej</td>
                <!-- <td>{{order.total_price}}</td>
                <td>{{order.driver}}</td>
                <td>{{order.time_get}}</td>
                <td>{{order.time_in}}</td> -->
                <td><button type="button" class="btn btn-warning .col-lg-12 .col-xl-4 m-2"><a class=""
                            href="#">Szczegóły</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-8 input-group mb-3 mx-auto">
    <div class="col-1"></div>
    <nav aria-label="...">
        {% if czesc.has_other_pages %}
        <ul class="pagination text-dark">
            {% if czesc.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ czesc.previous_page_number }}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?page={{ czesc.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in czesc.paginator.page_range %}
            {% if czesc.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if czesc.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?page={{ czesc.next_page_number }}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?page={{ czesc.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
<div class="col-1"></div>

{% endblock %}