{% extends 'base_owner.html' %}
{% block content %}
<div class="container-fluid mt-3 mx-auto">

    <div class="row col-12 mx-auto">
        <div class="col-3 ">
            <form method="POST" class="col-12">
                {% csrf_token %}
                <div class="active_form">
                    {{ form.as_p }}
                    <div class="form-group row col-10 mt-2">
                        <button type="submit" class="btn btn-dark">Dodaj składnik</button>
                    </div>
                </div>
            </form>
            <a class="col-12 mx-auto " href="/local_status/"><button class="btn-danger m-2">Cofnij</button></a>
        </div>
        <div class="col-3">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nazwa productu</th>
                        <th scope="col">Rodzaj dodatku</th>
                        <th scope="col">Zmień</th>
                        <th scope="col">Usuń</th>
                    </tr>
                </thead>
                {% for type in type_of_ingredient_list %}
                <tbody>
                    {% for el in topps %}
                    {% if el.type_of_ingredient ==  type %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{el.product_name}}</td>
                        <td>{{el.get_type_of_ingredient_display}}</td>
                        <td><a href="/edit_product/{{el.id}}">Edytuj</a></td>
                        <td><a href="/del_product/{{el.id}}">Usuń</a></td>
                    </tr>
                    {% endif %}
                    {% endfor%}
                </tbody>
                {% endfor %}
            </table>

        </div>
    </div>
</div>

</div>
{% endblock %}