{% extends 'base_driver_view.html' %}
{% load static %}


{% block content %}
<h5 class="col-12 text-left text-white">Moje zamówienia {{driver.username}}</h5>
{% csrf_token %}
{% for order in my_orders %}
<a class="col-12 bg-warning small text-center mx-auto text-dark row text-wrap m-2"
    href="/order_outside_details/{{order.id}}">

    <span class="col-6 h5 text-left">Numer</span><span class="col-6 h5 text-center">{{order.number}}</span>
    <span class="col-6 h5 text-left">Lokal</span><span class="col-6 h5 text-center">{{order.workplace_id}}</span>
    <span class="col-6 h5 text-left">Klient</span>
    {% if order.address.client_id.firstlastname.strip %}
    <span class="col-6 h5 text-center">{{order.address.client_id.firstlastname}}</span>
    {% else %}
    <span class="col-6 h5 text-center">
        {% endif %}
    </span>
    <span class="row col-12">
        <span class="col-6 h5 text-left">Telefon</span>
        <span class="col-6 h5 text-center"><span
                class="col-6 h5 text-center">{{order.address.client_id.phone_number}}</span>
        </span>
        <span class="col-6 h5 text-left">Adres</span><span class="col-6 h5 text-center">{{order.address.street}}</span>
        <span class="col-6 h5 text-left">Czas planowany</span><span
            class="col-6 h5 text-center text-danger">{{order.time_zero}}</span>
        <span class="col-6 h5 text-left">Płatność</span><span
            class="col-6 h5 text-center">{{order.get_pay_method_display}}</span>
        <span class="col-6 h5 text-left">Razem</span><span class="col-6 h5 text-center">{{order.order_total_price2}}
            zł</span>
        <span class="col-6 h5 text-left">Info</span><span class="col-6 h5 text-center">{{order.info}}</span>
    </span>
</a>
{% endfor %}



<h5 class="col-12 text-left text-white">Zamówienia wyjazd</h5>

{% for order in orders %}
<a class="col-12 bg-light small text-center mx-auto text-dark row text-wrap m-2"
    href="/order_outside_details/{{order.id}}">

    <span class="col-6 h5 text-left">Numer</span><span class="col-6 h5 text-center">{{order.number}}</span>
    <span class="col-6 h5 text-left">Lokal</span><span class="col-6 h5 text-center">{{order.pizzeria}}</span>
    <span class="col-6 h5 text-left">Klient</span>
    {% if order.client.firstlastname.strip %}
    <span class="col-6 h5 text-center">{{order.client.firstlastname}}</span>
    {% else %}
    <span class="col-6 h5 text-center">
        {% endif %}
    </span>
    <span class="row col-12">
        <span class="col-6 h5 text-left">Telefon</span>
        <span class="col-6 h5 text-center"><span
                class="col-6 h5 text-center">{{order.address.client_id.phone_number}}</span>
        </span>
        <span class="col-6 h5 text-left">Adres</span><span class="col-6 h5 text-center">{{order.address.street}}</span>
        <span class="col-6 h5 text-left">Czas planowany</span><span
            class="col-6 h5 text-center text-danger">{{order.time_zero}}</span>
        <span class="col-6 h5 text-left">Płatność</span><span
            class="col-6 h5 text-center">{{order.get_pay_method_display}}</span>
        <span class="col-6 h5 text-left">Razem</span><span class="col-6 h5 text-center">{{order.order_total_price2}}
            zł</span>
        <span class="col-6 h5 text-left">Info</span><span class="col-6 h5 text-center">{{order.info}}</span>
    </span>
    {% endfor %}

    <!--The div element for the map -->
    <!-- <iframe width="500" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBEJkSHJyOybH3WslnGOIqiNw2dvi0B2p4
    &q={{address}}" allowfullscreen>
</iframe> -->
    <!-- <a href="https://maps.google.com/?q={{address}}">{{address}}</a> -->

    {% endblock %}


    {% block script %}
    <script src="{% static "babilon/drivers_mobile.js" %}" type="text/javascript">
    </script>
    {% endblock %}