{% extends 'base_orders.html' %}
{% load static %}
{% load tz %}

{% block content %}
<div class="row col-12 mx-auto bg-white mt-2">
    <div class="row col-12 mx-auto">
        <form class="col-3 d-block d-lg-none mx-auto m1" action="/add_new_order_local/">
            <button type="submit" class="btn btn-success mx-auto col-12">Zamówienie<br>LOKAL</button>
        </form>
        <form class="col-3 d-block d-lg-none mx-auto m-1" action="/add_new_order_outside/">
            <button type="submit" class="btn btn-success mx-auto col-12">Zamówienie<br>WYNOS</button>
        </form>
        <form class="col-3 d-block d-lg-none mx-auto" action="/add_new_order_driver/">
            <button type="submit" class="btn btn-success mx-auto col-12">Zamówienie<br>DOSTAWA</button>
        </form>
        <form class="col-3 d-block d-lg-none mx-auto" action="/local_status/">
            <button type="submit" class="btn btn-warning mx-auto col-12">Lokal<br>STATUS</button>
        </form>
    </div>

    <div class="col-12 row m-2">


        <button id="lokal" type="submit" class="btn btn-light mx-auto col-2 border m-1">Na miejscu: <span
                id="lokal_order">{{orders_lokal_type}}</span><br><i class="fas fa-home"></i></button>
        <button id="wynos" type="submit" class="btn btn-light mx-auto col-2 border m-1">Na wynos: <span
                id="wynos_order">{{orders_outside_type}}</span><br><i class="fas fa-sign-out-alt"></i></button>
        <button id="dostawa" type="submit" class="btn btn-light mx-auto col-2 border m-1">Dostawa: <span
                id="dostawa_order">{{orders_driver_type}}</span><br><i class="fas fa-truck"></i></button>
        <!-- <button id="wynos" class="col-2 btn-primary mx-auto m-1" type="submit" class="">
            <div class="clock">Godzina: <span id="h"></span> : <span id="m"></span> : <span id="s"></span></div>
        </button> -->
         <button type="button" class="col-2 btn-primary mx-auto m-1" data-toggle="modal"
            data-target="#driverModal{{order.id}}">
            Kierowcy Status
        </button>

        <div class="modal fade" id="driverModal{{order.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body">
                        <div>
                            <h4 class="mx-auto">Licznik zamówień</h4>
                            {% for driver in drivers %}
                            {% if driver.order_on_car > 0 %}
                            <button type="button" class="btn btn-warning col-12 mt-1" data-container="body" data-toggle="popover" data-html="true"
                                data-placement="right"
                                data-content="{% for order in driver.orders_on_car_list %} {{order.address.street}}<br> {% endfor %}">
                                {{driver.first_name}}
                                {{driver.last_name}}
                                {{driver.order_on_car}}
                            </button>
                            
                            {% else %}
                            <button type="button" class="btn btn-success col-12 mt-1" data-container="body" data-toggle="popover" data-html="true"
                                data-placement="right"
                                data-content="{{orders_on_car_list}}">
                                {{driver.first_name}}
                                {{driver.last_name}}
                                {{driver.order_on_car}}
                            </button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row m-2">
        {% if in_progress %}
        <a href="/orders" class="mx-auto col-2 border m-1 row p-0">
            <button id="done" type="submit" class="btn btn-warning mx-auto col-12 border">Zrealizowane:
                <span>{{orders_closed}}</span><br><i class="fas fa-clipboard-check"></i></button></a>
        {% else %}
        <a href="/orders" class="mx-auto col-2 border m-1 row p-0">
            <button id="done" type="submit" class="btn btn-primary mx-auto col-12 border">Zrealizowane:
                <span>{{orders_closed}}</span><br><i class="fas fa-clipboard-check"></i></button></a>
        {% endif %}
        {% if in_progress %}
        <a href="/orders/filter/" class="mx-auto col-2 border m-1 row p-0"> <button id="not_closed" type="submit"
                class="btn btn-success col-12 m-0 p-0">W realizacji: <span
                    id="not_closed_order">{{orders_active}}</span><br><i class="fas fa-user-cog"></i></button></a>
        {% else %}
        <a href="/orders/filter/" class="mx-auto col-2 border m-1 row p-0"> <button id="not_closed" type="submit"
                class="btn btn-warning col-12 m-0 p-0">W realizacji: <span
                    id="not_closed_order">{{orders_active}}</span><br><i class="fas fa-user-cog"></i></button></a>
        {% endif %}
        <button id="inprogress" type="submit" class="btn btn-light mx-auto col-2 border m-1">W przygotowaniu: <span
                id="inprogress_order">{{orders_prepare}}</span><br><i class="fas fa-praying-hands"></i></button>
        <button id="in_delivery" type="submit" class="btn btn-light mx-auto col-2 border m-1">W dostawie: <span
                id="go_to_order">{{orders_driver}}</span><br><i class="fas fa-truck"></i></button>
        <button id="cancelled" type="submit" class="btn btn-light mx-auto col-2 border m-1">Anulowane: <span
                id="cancelled_order_button">{{orders_cancelled}}</span><br><i class="fas fa-ban"></i></button>
    </div>

</div>

<div
    class="container-fluid mt-3 bg-white mx-auto text-center table-responsive table-wrapper-scroll-y my-custom-scrollbar p-0 m-0">
    <table id="table" class="table table-bordered table-striped text-center mx-auto w-100 orders"
        data-workplace="{{workplace}}" data-order_closed="{{len_orders_close}}">
        <thead class=" w-100">
            <tr>
                <th scope="col w-auto">Nr</th>
                <th scope="col w-auto">Godz. Zam.</th>
                <th scope="col w-auto">Godz. Dostawy</th>
                <th scope="col w-auto">Telefon/Adres</th>
                <th scope="col w-auto">Wartość zam.</th>
                <th scope="col w-auto">Płatność</th>
                <th scope="col w-auto">Info</th>
                <th scope="col w-auto">Przyjmujący</th>
                <!-- <th scope="col w-auto">Lokal/Wywóz</th> -->
                <th scope="col w-auto">Podepnij kierowce</th>
                <th scope="col w-auto">SMS</th>
                <th scope="col w-auto">Czas<br>Start/Finish</th>
                <th scope="col w-auto">Zamknij</th>
                <th scope="col w-auto">Szczegóły</th>
                <th scope="col w-auto">Anuluj</th>
            </tr>
        </thead>
        <tbody class="mx-auto orders">
            {% for order in orders %}
            {% if order.status == 2 %}
            <tr class="lista mx-auto text-black {{order.status}} {{order.get_type_of_order_display}} order ">
                {% endif %}
                {% if order.status == 1 %}
            <tr
                class="lista table-primary w-100 mx-auto text-black {{order.get_type_of_order_display}} {{order.status}} order">
                {% endif %}
                {% if order.status == 3 %}
            <tr
                class="lista table-warning w-100 mx-auto text-black {{order.get_type_of_order_display}} {{order.status}} order">
                {% endif %}
                {% if order.status == 5 %}
            <tr
                class="lista table-danger w-100 mx-auto text-black {{order.get_type_of_order_display}} {{order.status}} order">
                {% endif %}

                {% if order.status == 4 %}
            <tr
                class="lista table-secondary w-100 mx-auto text-black {{order.get_type_of_order_display}} {{order.status}} order">
                {% endif %}
                <!-- <td class="col w-auto">{{forloop.revcounter}}</td> -->
                <td class="col w-auto">{{order.number|slice:"0:3"}}</td>
                <td class="col w-auto">{{order.time_start}}</td>
                <td class="col w-auto">
                    <span class="time_zero text-primary col-5"
                        data-status="{{order.status}}">{{order.time_zero}}</span><br>
                    {% if order.status != 5 %}
                    <span class="timer text-success col-5"></span>
                    {% endif %}
                </td>
                <td class="col w-auto text-nowrap">
                    {% if order.type_of_order == 3 %}
                    {{order.address.client_id.phone_number}}<br>{{order.address.street}}
                    {% endif %}
                    {% if order.type_of_order == 1 %}
                    Lokal
                    {% endif %}
                    {% if order.type_of_order == 2 %}
                    Wynos<br>
                    {% if order.address != None %}
                    {{order.address.client_id.phone_number}}
                    {% endif %}
                    {% endif %}
                </td>
                <td class="col w-auto">{{order.order_total_price2}}<br>
                    {% if order.discount %}
                    <span class="text-danger">{{order.discount}}%</span>
                    {% endif %}
                </td>
                <td>{{order.get_pay_method_display}}<br>
                    {% if order.status != 4 and order.status != 5 %}
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#{{order.id}}ModalPayMethod">
                        Zmień
                    </button>
                    <div class="modal fade" id="{{order.id}}ModalPayMethod" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Methody płatności</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form name="change_pay_m" action="" method="POST">
                                        {% csrf_token %}
                                        {% for key,value in pay_methods %}
                                        <input type="hidden" name="order_id" value="{{order.id}}">
                                        <button name="pay_mathod" type="submit" value="{{key}}"
                                            class="btn btn-warning col-12">{{value}}</button>
                                        {% endfor %}
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </td>
                <td>{{order.info}}</td>
                <td>{{order.barman_id.username}}</td>
                <!-- <td class="col w-auto">{{order.get_type_of_order_display}}</td> -->
                {% if order.type_of_order == 3 and order.status != 4 and order.status != 5 %}
                {% if order.driver_id == None %}
                <td class="col w-auto">
                    <button type="button" id="drivers_button" class="drivers_button btn btn-warning" data-toggle="modal"
                        data-target="#driverModal{{order.id}}">
                        Kierowcy
                    </button>
                    <div class="modal fade" id="driverModal{{order.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                </div>
                                <div class="modal-body">
                                    <div>
                                        <form name="driver_id" action="" method="POST">
                                            {% csrf_token %}
                                            {% for driver in drivers %}
                                            <input type="hidden" name="order_id" value="{{order.id}}">
                                           
                                                
                                                
                                                 {% if driver.order_on_car > 0 %}
                            <button name="set_driver" type="submit" value="{{driver.id}}" type="button" class="btn btn-warning col-12 mt-1" data-container="body" data-toggle="popover" data-html="true"
                                data-placement="right"
                                data-content="{% for order in driver.orders_on_car_list %} {{order.address.street}} Czas dojazdu {{driving_time}}<br>{% endfor %}">
                                {{driver.first_name}}
                                {{driver.last_name}}
                                {{driver.order_on_car}}
                            </button>
                            
                            {% else %}
                            <button name="set_driver" type="submit" value="{{driver.id}}" type="button" class="btn btn-success col-12 mt-1" data-container="body" data-toggle="popover" data-html="true"
                                data-placement="right"
                                data-content="{{orders_on_car_list}}">
                                {{driver.first_name}}
                                {{driver.last_name}}
                                {{driver.order_on_car}}
                            </button>
                            {% endif %}
                                            
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="new_set_driver" class="new_set_driver"></span>
                    {% if order.status != 4 or order.status != 5 %}
                    <form id="del_button" class="del_driver_form" action="/del_driver_from_order/{{order.id}}">
                        <button type="submit" class="btn-danger">Usuń</button>
                    </form>
                    {% endif %}
                    {% else %}
                <td class="col w-auto">{{order.driver_id.first_name}} {{order.driver_id.last_name}} <br>
                    {% if order.status != 4 and order.status != 5 %}
                    <form id="del_driver_form" action="/del_driver_from_order/{{order.id}}">
                        <button type="submit" class="btn-danger">Usuń</button>
                    </form>
                    {% endif %}
                </td>
                {% endif %}
                {% else %}
                <td class="col w-auto">Wydanie w <br>lokalu</td>
                {% endif %}

                <td>
                    {% if order.type_of_order == 3 and order.status != 1 and order.status != 4 and order.status != 5 and order.address.client_id.phone_number != None and order.sms_send == False %}
                    <button type="button" class="btn btn-success sms_button" data-toggle="modal"
                        data-target="#{{order.id}}" data-order="{{order.id}}">SMS</button>

                    <div class="modal fade" id="{{order.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="{{order.id}}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{order.id}}Label">SMS</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body massage">
                                    Pizzeria Babilon - Kierowca {{order.driver_id.first_name}} jest w drodze. Platnosc:
                                    {{order.get_pay_method_display}}, Kwota: {{order.order_total_price}}, adres:
                                    {{order.address.street}}. Dziekujemy...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Zamknij</button>
                                    <button type="button" data-order="{{order.id}}"
                                        data-phone_number="{{order.address.client_id.phone_number}}"
                                        class="btn btn-primary send_sms" data-dismiss="modal">SMS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.type_of_order == 2 and order.status != 1 and order.status != 4 and order.status != 5 and order.address.client_id.phone_number != None and order.sms_send == False %}
                    <button type="button" class="btn btn-success sms_button" data-toggle="modal"
                        data-target="#{{order.id}}" data-order="{{order.id}}">SMS</button>

                    <div class="modal fade" id="{{order.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="{{order.id}}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{order.id}}Label">SMS</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body massage">
                                    Pizzeria Babilon - Zamowienie gotowe do odbioru.
                                    Zapraszamy...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Zamknij</button>
                                    <button type="button" data-order="{{order.id}}"
                                        data-phone_number="{{order.address.client_id.phone_number}}"
                                        class="btn btn-primary send_sms" data-dismiss="modal">SMS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.type_of_order == 2 or order.type_of_order == 3 %}
                    {% if order.status == 4 or order.status == 5 %}
                    {% if order.sms_send == False %}
                    <button type="button" class="btn btn-secondary">Brak
                        Sms</button><br>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    {% if  order.status == 2 or order.status == 4 or order.status == 5 and order.type_of_order == 2 or order.type_of_order == 3 %}
                    {% if order.sms_send == True %}
                    <button type="button" class="btn btn-secondary">Wysłano Sms<br>
                    </button><br><span class="mx-auto text-center">{{order.sms_time}}</span>
                    {% endif %}
                    {% endif %}
                </td>
                <td class="col w-auto">
                    {% if order.time_delivery_in %}
                    <span class="time_start_delivery">S-{{order.start_delivery_time}}</span><br>
                    <span class="time_close_order"></span>F-{{order.time_delivery_in}}</span>
                    {% else %}
                    <span>Start wyj.:</span><br>
                    {% if order.start_delivery_time %}
                    <span class="time_start_delivery">S-{{order.start_delivery_time}}</span>
                    {% endif %}
                    {% endif %}
                </td>
                <td class="col w-auto">

                    {% if order.status != 5 %}
                    {% if order.status != 4 %}

                    <form action="" class="mr-1">
                        {% csrf_token %}
                        {% if order.type_of_order == 3 and order.driver_id == None %}
                        <button data-order="{{order.id}}" type="button"
                            class="btn btn-danger col-12 close_order text-center mx-auto {{order.type_of_order}}">Zamknij
                        </button>
                        <span class="driver_warning">Podepnij kierowcę</span>
                        {% else %}
                        <button data-order="{{order.id}}" type="button"
                            class="btn btn-danger col-12 close_order text-center mx-auto {{order.type_of_order}} True">Zamknij
                        </button>
                        {% endif %}
                    </form>
                    <button data-order="{{order.id}}" type="button"
                        class="btn btn-secondary .col-lg-12 .col-xl-4 hide_button">Zrealizowane</button>
                    {% else %}
                    <button data-order="{{order.id}}" type="button"
                        class="btn btn-secondary .col-lg-12 .col-xl-4 ">Zrealizowane</button>
                    {% endif %}
                    {% else %}
                    <button data-order="{{order.id}}" type="button"
                        class="cancelled btn btn-danger .col-lg-12 .col-xl-4">Anulowano</button>
                    {% endif %}

                </td>
                <td><a href="/order_change_details/{{order.id}}"> <button type="button"
                            class="btn btn-warning .col-lg-12 .col-xl-4">Szczegóły</button></a>
                </td>
                <td>
                    {% if order.status == 1 or order.status == 2 or order.status == 3 %}
                    <form action="" class="col-2 ml-1">
                        {% csrf_token %}
                        <button data-order="{{order.id}}" type="button"
                            class="btn btn-dark .col-lg-12 .col-xl-3  cancell_order">C</button>
                    </form>

                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-8 input-group mb-3 mx-auto">
    <div class="col-1"></div>
    <nav aria-label="...">
        {% if czesc.has_other_pages %}
        <ul class="pagination text-dark">
            {% if czesc.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ czesc.previous_page_number }}">Poprzednia</a>
            </li>
            <li class="page-item"><a class="page-link text-dark"
                    href="?page={{ czesc.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
            {% for i in czesc.paginator.page_range %}
            {% if czesc.number == i %}
            <li class="page-item text-light bg-dark active">
                <span class="page-link text-light bg-dark">
                    {{ i }}
                    <span class="sr-only text-dark">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item text-dark"></li><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if czesc.has_next %}
            <li class="page-item text-dark"><a class="page-link text-dark"
                    href="?page={{ czesc.next_page_number }}">&raquo;</a>
            </li>

            <li class="page-item text-dark ">
                <a class="page-link text-dark" href="?page={{ czesc.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="disabled"><span></span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
<div class="col-1"></div>

{% endblock %}

{% block script %}
<script src="{% static "babilon/orders_filter.js" %}" type="text/javascript"></script>

{% endblock %}