{% extends 'base_login.html' %}
{% load static %}
{% block content %}


<div
    class="form col-8 row col-sm-12 sm-h3  bg-light mt-5 d-flex align-items-center justify-content-center vertical-center text-wrap mx-auto">

    <form method="POST" enctype="multipart/form-data" class="col-12 m-5 mx-auto text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="col-10 col-lg-4 mx-auto h3" type="submit" value="Zaloguj">
    </form>
    <div class="col-12 text-center"><span class="mx-auto h1 col-12">{{error_info}}</span></div>

</div>



{% endblock %}

{% block script %}
<script src="{% static "babilon/login.js" %}" type="text/javascript"></script>
{% endblock %}