@media (max-width: 995px) {
    :-webkit-full-screen {
        background-color: yellow;
    }

    .form {
        font-size: 8rem;
        text-align: center;
    }

    .form p {
        height: 200px;
    }

    .form input {
        height: 80%;
        font-size: 80px;
    }


    .form label {
        /* height: 80%; */
        font-size: 25px;
    }

    div.form {
        height: 80vh;
    }
}

/* body {
    min-height: 100vh;
} */

/* div.main {
    min-height: 100vh;
} */

* {
    font-size: 16px;

    /* white-space: nowrap; */
}

.navbar button {
    font-size: 15px;
}

table {
    overflow-x: auto;
    display: block;
}


/* button.pizza_box {
    min-height: 120px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.98);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.98);
    margin: 16px;
} */

button.confirm {
    height: 50px;
}

#price_pizza_box {
    font-size: 11px;
}


#size_pizza_box {
    font-size: 10px;
}

.table {
    margin: auto;
    width: 100% !important;
}

table th {
    text-align: center;
}

td,
th {
    text-align: center;

}

.products_menu.table {
    font-size: 0.95rem;
}

ul {
    list-style: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
    width: 100%;
}

table.orders {
    display: table;
    /* check so these really applies */
    width: 100%;
}

.counter_topps {
    font-size: 9px;
}

@media print {
    * {
        display: none;
    }

    img#me-smiling {
        display: block;
    }
}

/* body {
    background: #FFF url("https://i.imgur.com/KheAuef.png") top left repeat-x;
    font-family: 'Alex Brush', cursive !important;
} */

.page {
    /* display: none; */
    padding: 0 0.5em;
}

.page h1 {
    font-size: 2em;
    line-height: 1em;
    margin-top: 1.1em;
    font-weight: bold;
}

.page p {
    font-size: 1.5em;
    line-height: 1.275em;
    margin-top: 0.15em;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

div.orders_box_driver {
    /* min-height: 15vh; */
    background-color: white;

}

.orders_box_driver p {
    font-size: 18px;
}

.orders_box_driver i {
    font-size: 30px;
    color: black;
}

.orders_box_driver span {
    font-size: 20px;
}

.orders_box_driver strong {
    font-size: 28px;
}

button.orders_number {
    font-size: 30px;
}

button.confirm_get_order {
    height: 200px;
    font-size: 30px;
}

.confirm_get_order b {
    font-size: 30px;
}

button.back {
    height: 150px;
    font-size: 30px;
}

html,
body {
    /* reset default inner and outer space to avoid oversizing */
    margin: 0;
    padding: 0;
    height: 100%;
}

.fullscreen {
    height: 100%;
}

@media (max-width: 995px) {

    #main b,
    strong,
    span,
    p,
    td {
        font-size: 15px;
        ;
    }

    table.t_mobile {
        width: 100%;
    }

    .t_mobile thead,
    tbody {
        width: 100%;
    }

    .t_mobile td,
    th,
    b {
        font-size: 28px;
    }

    .t_mobile td,
    td,
    span {
        font-size: 24px;
    }

    div.orders_list_mobile {
        max-height: 75vh;
        overflow: auto;
        border: 1px solid black;

    }

    .details strong {
        font-size: 35px;
    }

    button.account_box {
        margin-top: 5vh;
        height: 10vh;
        /* background-color: yellow; */
    }

    .account_box span {
        font-size: 40px;
    }

    .title_box button {
        height: 4vh;
        font-size: 40px;

    }
}

.clients_tab td {
    font-size: 25px;

}

td.address {
    width: 500px;
}